.sign{
    text-align : right;
}

.img {
    padding: 10px;
}
h1 {
    font-variant: small-caps;
    text-transform:uppercase;
    font-weight: 800;
    font-family:'Courier New', Courier, monospace;
    color: crimson;

    text-align: center;
}

h4 {
    margin-right: 60px;

}

h3 {
    color: springgreen;
}

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: rgba(4, 247, 4, 0.014);
}



.boxx {
    width: 350px;
    padding: 40px;
    position: absolute;
    top: 65%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(245, 241, 12, 0.247);
    text-align: center;
}

.boxx h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    font-variant: small-caps;
    text-transform: uppercase;
    font-weight: 600;
}

.boxx input[type="email"],
.boxx input[type="password"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 3px solid #3498db;
    padding: 14px, 10px;
    width: 220px;
    outline: none;
    color: chartreuse;
    border-radius: 24px;
    transition: 0.30s;
}

.boxx input[type="email"]:focus,
.boxx input[type="password"]:focus {
    width: 280px;
    border-color: #2ecc71;
}

.boxx input[type="submit"] {
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #2ecc71;
    padding: 14px, 40px;
    outline: none;
    color: rgb(75, 201, 17);
    border-radius: 24px;
    transition: 0.30s;
    cursor: pointer;
}

.boxx input[type="submit"]:hover {
    background: #2ecc71;
}

.footer{
	text-align: center;
    color: rgba(209, 20, 124, 0.5);
    background-color:rgba(37, 22, 22, 0.123);
    margin: 10px auto;
    padding: 10px;
    position: relative;
    top:360px;

}