*{
    margin: 0;
    padding: 0;
}

.head2{
    position:absolute;
    top: 30px;
    left: 40%;
}

.a1{
    padding: 20px;
}
.one{
    padding: 5px;
    margin: 5px;
    border-bottom: 5px solid green;
}

.uone{
    display: flex;   
}
.two{
    margin: 2px;
    padding: 2px;
/*    height: 200px;*/
}



.lone{
    text-align: center;
    list-style: none;
    width: 250px;
    padding: 10px;
    font-size: 30px;
}

.ltwo{
    list-style: none;
    margin: 10px;
    border: 1px solid black;    
}

.lthree{
    list-style: none;
    margin: 10px;
    border: 1px solid black; 
}


.lfour{
    list-style: none;
    margin: 10px;
    border: 1px solid black; 
}


.two ul ul{
    display: none;
}

.two ul li:hover>ul{
    display: block;
    position: absolute;
    margin-left: 90px;
    padding: 10px;
}



